
$Muller-ExtraBold-DEMO: 'Muller-ExtraBold-DEMO', Helvetica, Roboto, Arial, sans-serif;
$Muller-Thin-DEMO: 'Muller-Thin-DEMO', Helvetica, Roboto, Arial, sans-serif;
$main-bg-color:#f5f5f5;

$max-block-size:980px;
